aio_pika==9.5.5
fastapi==0.115.12
httpx==0.28.1
pydantic==2.10.6
transformers==4.47.0
hf_xet
uvicorn==0.34.0
torch==2.5.1
opentelemetry-api==1.28.0
opentelemetry-sdk==1.28.0
opentelemetry-exporter-otlp-proto-http==1.28.0
opentelemetry-instrumentation-fastapi==0.49b0
opentelemetry-instrumentation-aio-pika==0.49b0
opentelemetry-instrumentation-logging==0.49b0