---
const { alt = 'Factually Banner', width = 200, height = 50 } = Astro.props;
---
<a href="/" class="inline-block">
  <img
    src="/Factually_Banner.png"
    alt={alt}
    width={width}
    height={height}
    class="object-contain w-32 md:w-40 lg:w-48"
  />
</a>