---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---
<div class="bg-fact-blue-800 rounded-xl shadow-lg p-6 flex flex-col justify-between">
  <h2 class="text-xl text-white font-semibold mb-4">{title}</h2>
  <p class="text-white mb-4"><slot /></p>
</div>
